@font-face {
    font-family: 'Sugo Pro Display';
    src: url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.eot');
    src: url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.eot?#iefix') format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.woff2') format('woff2'),
        url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.woff') format('woff'),
        url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.ttf') format('truetype'),
        url('https://db.onlinewebfonts.com/t/9c6c9a4d9c067c4f56cc2d04e8a61dd9.svg#Sugo Pro Display') format('svg');
}
